<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Sukses</title>
    <script>
        setTimeout(function() {
            window.location.href = "/user/profile";
        }, 3000);
    </script>
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
            width: 100%;
        }
        body {
            display: table;
        }
        .my-block {
            text-align: center;
            display: table-cell;
            vertical-align: middle;
        }
    </style>
</head>

<body>
<div class="my-block">
    Sukses!<br />
    Profile berhasil diubah.
</div>
</body>

</html>